@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --circle-diameter: 320px;
  --letter-spacing: 19px;
  --animation-speed: 3s;
}
* {
  box-sizing: border-box;
}

body {
  	 zoom: 50%;
  -moz-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  background-color: black;
  color: white;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.logo-container {  
  position: relative;
  height: var(--circle-diameter);
  width: var(--circle-diameter);
  overflow: hidden;
  animation: fade-in var(--animation-speed) linear infinite;
}

.half-circle {
  border: solid 8px white;
  width: var(--circle-diameter);
  height: calc(var(--circle-diameter) / 2);  
}

#top-half {  
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom: none;
  transform-origin: bottom center;
  animation: circle-rotate var(--animation-speed) linear infinite;    
  position: absolute;
  top: 0;    
  
}

.text-container {
  background-color: black;  
  width: auto;
  height: auto;  
  transform: translate(10px, calc(var(--circle-diameter) - 135px));
  z-index: 3;   
}
h1 {
  z-index: 2;  
  font-size: 4.5rem;
  letter-spacing: var(--letter-spacing);
  line-height: 50px;
  animation: fade-in var(--animation-speed) linear infinite;
  margin: 0;
}

#top-half-cover {
  height: calc(var(--circle-diameter) / 2);
  width: var(--circle-diameter);  
  overflow: hidden;  
}

#bottom-half {    
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
  border-top: none;
  transform-origin: top center;
  animation: circle-rotate var(--animation-speed) linear infinite; 
}

#bottom-half-cover {  
  background-color: black;
  height: calc(var(--circle-diameter) / 2);
  width: var(--circle-diameter);  
  position: absolute;
  top: 50%; 
  overflow: hidden;  
  
}

@keyframes circle-rotate {
  from {
    transform: rotate(180deg);
    
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0.0;
    transform: scale(1);
  }
  
  to {
    opacity: 1.0;
    transform: scale(1.15);
  }
}
