@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --circle-diameter: 320px;
  --letter-spacing: 19px;
  --animation-speed: 3s;
}
* {
  box-sizing: border-box;
}

body {
	 zoom: 100%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  background-color: black;
  color: white;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
   position: static;
}
